* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #797979;
}

header {
  background: url("../images/background.jpg");
  height: 80vh;
  background-size: cover;
  padding-top: 1em;
}
header nav {
  background: white;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding: 0.5em;
}
header nav h2 span {
  color: #ff3720;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 60%;
}
header nav ul li a {
  text-decoration: none;
}
header div {
  margin-top: 15%;
}
header div h1, header div p {
  color: white;
  text-align: center;
  width: 30%;
  margin: 0 auto;
}
header div h1 {
  font-weight: normal;
  border-bottom: 1px solid #ff3720;
}

section {
  background: #f0f0f0;
  height: 50vh;
  padding-top: 5em;
}
section h3 {
  text-align: center;
  margin-bottom: 2em;
}
section .car-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
section .car-section div {
  width: 15%;
  text-align: center;
}
section .car-section div img {
  width: 100%;
}
section .car-section div p {
  text-align: center;
}
section .car-section div button {
  background: #ff3720;
  color: white;
  border: none;
  padding: 0.5em 2em;
}

.table-section {
  background: white;
}
.table-section button {
  display: none;
}
.table-section table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}
.table-section table th, .table-section table td {
  padding: 0.5em 1em;
  text-align: center;
}
.table-section table thead tr {
  background-color: #ff3720;
}
.table-section table thead tr th {
  color: white;
}
.table-section table thead tr th:first-child {
  background-color: #e42b15;
}
.table-section table tbody tr {
  border-bottom: 1px solid #797979;
}
.table-section table tbody tr td:first-child {
  background-color: #f0f0f0;
  font-weight: bold;
}

footer {
  background-color: black;
  padding: 1em;
}
footer h4 {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #ff3720;
  font-weight: normal;
}
footer h4 span {
  color: #ff3720;
}
footer .address-info {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding: 0.5em;
}
footer .address-info p {
  font-style: italic;
  color: white;
  font-size: 0.8em;
}

@media only screen and (max-width: 800px) {
  header nav {
    width: 95%;
  }
  header div {
    margin-top: 20%;
  }
  header div h1, header div p {
    width: 80%;
  }

  section {
    height: 100vh;
  }
  section .car-section div {
    width: 50%;
  }

  footer h4 {
    text-align: center;
  }
  footer .address-info {
    flex-direction: column;
    align-items: center;
  }
  footer .address-info p {
    padding: 1em;
  }
}
@media only screen and (max-width: 500px) {
  header {
    background: black;
    height: 35vh;
  }
  header nav {
    flex-direction: column;
  }
  header nav h2 {
    font-size: 1em;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  header div {
    margin-top: 10%;
  }

  section {
    height: 190vh;
  }
  section .car-section div {
    width: 100%;
  }
  section .car-section div button {
    padding: 2em 4em;
  }

  .table-section {
    height: 30vh;
    text-align: center;
  }
  .table-section table {
    display: none;
  }
  .table-section button {
    background: #ff3720;
    color: white;
    border: none;
    padding: 0.5em 2em;
    padding: 2em 4em;
    display: inline-block;
  }
}

/*# sourceMappingURL=style.css.map */
